<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FantasyF1Entities" connectionString="metadata=res://*/FantasyF1.Model.csdl|res://*/FantasyF1.Model.ssdl|res://*/FantasyF1.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OFFICE-WIN7\SQL2008R2;initial catalog=FantasyF1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>